# Arquivos e pastas do sistema
.DS_Store
Thumbs.db
.vscode/

# Arquivos temporários de editores
*.swp
*.swo
*~
*.bak

# Arquivos de log e temporários
*.log
*.tmp

# Builds e empacotamento
love-release/
build/
dist/
arquivo.love

# Saves ou arquivos gerados em runtime
saves/